# Statistics & Probability

In [2]:
import pandas as pd

## Basic Probability

### Joint, Marginal & Conditional Probability

In [8]:
hbolist = [[80, 120], [100, 25], [50, 125]]
shows = ["GoT","West World","Other"]

In [9]:
hbo_df = pd.DataFrame(hbolist, columns=["Male", "Female"])

In [10]:
hbo_df.index=pd.Series(shows)

In [11]:
hbo_df

            Male  Female
GoT           80     120
West World   100      25
Other         50     125

#### Joint Probability

In [13]:
hbo_df_jp = hbo_df/500
hbo_df_jp

            Male  Female
GoT         0.16    0.24
West World  0.20    0.05
Other       0.10    0.25

#### Marginal Probability

In [25]:
for idx in hbo_df_jp.index:
    print(f"marginal probability for {idx}: {sum(hbo_df_jp.loc[idx])}")

marginal probability for GoT: 0.4
marginal probability for West World: 0.25
marginal probability for Other: 0.35

In [26]:
for col in hbo_df_jp.columns:
    print(f"marginal probability for {col}: {round(sum(hbo_df_jp[col]), 2)}")

marginal probability for Male: 0.46
marginal probability for Female: 0.54

#### Union

$ P(A \cup B) = P(A) + P(B) - P(A \cap B) $

Q: probability of being male **OR** preferring west world

$ P(Male \cup West World) = P(Male) + P(West World) - P(Male \cap West World) $

$ P(Male \cup West World) = P(Male) + P(Female \cap West World)$

$ \cup = Union $<br>
$ \cap = Intersection $

In [32]:
print(f'P(Male): {sum(hbo_df_jp["Male"])} + P(Female & WestWorld): {hbo_df_jp.loc["West World"]["Female"]}')
sum(hbo_df_jp["Male"]) + hbo_df_jp.loc["West World"]["Female"]

P(Male): 0.45999999999999996 + P(Female & WestWorld): 0.05

0.51

#### Conditional Probability

$ P(A|B) = \displaystyle \frac{P(A \cap B)}{P(B))} $

Q: Noni got a subscription. What is the chance that her favourite show will be GoT?

In [34]:
print(f'{hbo_df_jp.loc["GoT"]["Female"]} / {sum(hbo_df_jp["Female"])}')
print(hbo_df_jp.loc["GoT"]["Female"]/sum(hbo_df_jp["Female"]))

0.24 / 0.54
0.4444444444444444

In [35]:
hbo_df_jp["P_female"] = hbo_df_jp["Female"]/sum(hbo_df_jp["Female"])
hbo_df_jp

            Male  Female  P_female
GoT         0.16    0.24  0.444444
West World  0.20    0.05  0.092593
Other       0.10    0.25  0.462963

In [36]:
hbo_df_jp["P_male"] = hbo_df_jp["Male"]/sum(hbo_df_jp["Male"])
hbo_df_jp

            Male  Female  P_female    P_male
GoT         0.16    0.24  0.444444  0.347826
West World  0.20    0.05  0.092593  0.434783
Other       0.10    0.25  0.462963  0.217391

Q: Given that a subscriber's favorite show is West World, what is the probability that they are male?

In [41]:
print(f'{hbo_df_jp.loc["West World"]["Male"]} / {sum(hbo_df_jp.loc["West World"][["Male", "Female"]])}')
hbo_df_jp.loc["West World"]["Male"] / sum(hbo_df_jp.loc["West World"][["Male", "Female"]])

0.2 / 0.25

0.8

#### Independence

If independent, then:
$ P(A|B) = P(A) $

$ P(West World | Female) = 0.05/0.54 = 0.093 $
$ P(West World) = 0.25 $

Therefore, **NOT INDEPENDENT** as 0.093 != 0.25

another way:

$ P(A \cap B) = P(A) * P(B) $

$ P(West World \cap Female) = 0.05 $<br>
$ P(West World) * P(Female) = 0.54 * 0.25 = 0.14 $

Therefore, **NOT INDEPENDENT** as 0.05 != 0.14

## Probability Distributions

### PMF, PDF, CDF

**PMF** Probability mass function (**discrete** variables)

**PDF** Probability density function (**continuous** variables)

**CDF** Cumulative distribution function

#### PMF & CDF (discrete)

dice has 6 sides, every side has a probability of 1/6

cumulative probability accumulates the probabilities for every subsequent number.<br>
P(1) = 1/6<br>
P(2) = 2/6<br>
P(3) = 3/6 etc

The final Probability has to be 1

If the dice is rigged, that it can not roll a 3 or a 4:<br>
P(1) = 1/4<br>
P(2) = 1/4<br>
P(3) = 0<br>
etc

the cumulative probabilities will be:

1/4, 2/4, 2/4, 2/4, 3/4, 4/4

#### PDF & CDF (continuous)

fictional dataset, height of women.

mean of 165 on x axis with y axis gradient of 0.04, gaussian distribution bell curve

Cumulative curve is S-shaped.<br>
CDF curve at 165cm in x is 0.5 in y -> 50%<br>

on the PDF, to the left of the 165cm mark, the area under the curve is 50%.<br>
at 25% area, the x value is 158cm -> on the CDF, at 158cm on x, y is 0.25.

For the CDF: the higher the gradient, the higher the density.<br>

To calculate gradient:<br>
take two close points:
164, 0.46 & 166, 0.54

$ \displaystyle \frac{rise}{run} = \frac{0.54-0.46}{166-164} = \frac{0.08}{2} = 0.04$

Ergo:<br>
**the gradient of the CDF $F(x)$ is the PDF $f(x)$<br>**
$ \displaystyle \frac{dF(x)}{dx} = f(x) $<br>
&<br>
**the Area to the left in the PDF $f(x)$ is the CDF $F(x)$**<br>
$ \int^x_{-\infty}f(x)dx = F(x) $

### Binomial Distribution

Setting: <br>
Study shows color blindness affects about 8% of men. <br>
A random sample of 10 men is taken.

*Pre-requisites of a binomial distribution:*

* There are two potential outcomes per **trial**
* The probability of **success** (p) is the same across all trials
* The number of trials (n) is fixed
* Each trial is **independent**.

- trial: each man in this sample
- success: in this case, having color blindness = success
- color blindness in one man doesn't affect any other

$ \displaystyle P(X = x) = {^nC_x}p^x(1-p)^{n-x}$

$ \displaystyle P(x) = \left( \begin{array}{c} n \\ x \end{array} \right)p^xq^{n-x} = \frac{n!}{(n-x)!x!}p^xq^{n-x} $

**Tasks**<br>
Find the probability that:
* All 10 men are color blind
* No men are color blind
* Exactly 2 men are color blind
* At least 2 men are color blind

In [49]:
from math import factorial as fact

def binodist(x, n, p):
    q = 1-p
    result = (fact(n)/(fact(n-x)*fact(x)))*((p**x)*q**(n-x))
    return result

In [54]:
print(f"Probability of all 10 men being color blind: {binodist(10, 10, 0.08)}")

Probability of all 10 men being color blind: 1.0737418240000003e-11

In [55]:
print(f"Probability of none being color blind: {binodist(0, 10, 0.08)}")

Probability of none being color blind: 0.4343884542236323

In [56]:
print(f"Probability of exactly 2 men being color blind: {binodist(2, 10, 0.08)}")

Probability of exactly 2 men being color blind: 0.14780703546361781

In [58]:
prob_sum = 0
for i in range(2):
    prob_sum += binodist(i, 10, 0.08)

prob = 1 - prob_sum

print(f"Probability of at least 2 men being color blind: {prob}")

# control:

prob_sum = 0
for i in range(2, 11):
    prob_sum += binodist(i, 10, 0.08)

print(f"control: {prob_sum}")

Probability of at least 2 men being color blind: 0.1878824551471222
control: 0.18788245514712262

**Further tasks**
* Find the expected number of color blind men in the sample
* Find the standard deviation of the number of color blind men in the sample

Expected number:<br>

$ E(X) = n * p $

$ E(X) = 10 * 0.08 $

Result: *0.8* -> mean of the distribution

Standard deviation of the binomial sample:<br>

$ SD(X) = \sqrt{V(X)} $

$ V(X) = n*p*(1-p) $

$ V(X) = 10*0.08*(1-0.08) $

$ V(X) = 0.736 $

$ SD(X) = \sqrt{0.736} = 0.858$

### Poisson Distribution

*Overview:*
* **Discrete** distribution
* Describes the number of **events** occuring in a fixed time interval or **region of opportunity**
* Requires only one parameter, $ \lambda $ (expected number of events per time interval)
* Bounded by 0 and $ \infty $

*Assumptions*
* The rate at which events occur is constant
* The occurrence of one event does not affect the occurrence of a subsequent event (i.e. events are independent)

**PMF**:

$ \displaystyle P(X = x) = \frac{e^{-\lambda}\lambda^x }{x!} $

In [60]:
from math import e

def poidis(x, y):
    result = (e**(-y)*y**x)/fact(x)
    return result

In [62]:
y=3
x=5
print(poidis(x, y))

0.10081881344492451

**CDF**:

$ \displaystyle P(X \leq x) = \frac{\lceil(\lfloor x+1 \rfloor, \lambda)}{\lfloor x! \rfloor} $

In [67]:
def pd_cdf(x, y, up):
    pd = 0
    for i in range(x+1):
        pd += poidis(i, y)
    if up == True:
        pd = 1-pd
    return pd

In [68]:
pd_cdf(5, 3, False)

0.9160820579686967

Expected value:

$ E(X) = \lambda $

Variance:

$ V(X) = \lambda $

**Setting**:

Exclusive Vines import Argentinian wine into Australia.<br>
They've begun advertising on Facebook to direct traffict to<br>
their website where customers can order wine online.<br>
The number of click-through sales from the ad is Poisson<br>
distributed with a mean of 12 click-through sales per day.

**Tasks**:
Find the probability of getting:
* Exactly 10 click-through sales in the first day
* At least 10 click-through sales in the first day
* More than one sale in the first hour

In [70]:
y = 12

print(f"Probability of exactly 10 c-t sales in the first day: {poidis(10, y)}")
print(f"Probability of at least 10 c-t sales in the first day: {pd_cdf(9, y, True)}")

Probability of exactly 10 c-t sales in the first day: 0.1048372558836594
Probability of at least 10 c-t sales in the first day: 0.7576078383294875

In [71]:
y = 12/24

print(f"Probability of more than one sale in the first hour: {pd_cdf(1, y, True)}")

Probability of more than one sale in the first hour: 0.09020401043104986

### Hypergeometric Distribution

relevant to card-playing, particularly Poker

*Overview*:
* Discrete distribution
* Equivalent to the binomial distribution<br>
  but WITHOUT REPLACEMENT
* The probability of a success changes with each draw
* Defined for 3 parameters: N, A, and n:
 - N   Total population size                  (52 cards)
 - A   Total items of interest in population  (13 spades)
 - n   Sample size                            (5 cards in hand)
 
**PMF**:

$
\displaystyle P(X = x) = \frac{\binom{A}{x}\binom{N-A}{n-x}}{\binom{N}{n}}  = \frac{\frac{A!}{{(A-x)!x!}} \frac{(N-A)!}{((N-A)-(n-x))!(n-x)!}}{\frac{N!}{(N-n)!n!}} 
$

*Expected Value*:

$ E(X) = n\frac{A}{N} $

*Variance*:

$ V(X) = n\frac{A}{N}\frac{(N-A)}{N}\frac{(N-n)}{N-1} $

In [106]:
def hypergeo(N, A, n, x):
    result = ((fact(A)/(fact(A-x)*fact(x))) * (fact(N-A)/(fact((N-A)-(n-x))*fact(n-x)))) / (fact(N)/(fact(N-n)*fact(n)))
    return result

In [107]:
print(hypergeo(52, 13, 5, 2))

0.2742797118847539

In [108]:
def hgd_cdf(N, A, n, x, up):
    hgdsum = 0
    for i in range(x+1):
        hgdsum += hypergeo(N, A, n, i)
    if up == True:
        hgdsum = 1-hgdsum
    return hgdsum

In [109]:
print(hgd_cdf(52, 13, 5, 2, False))

0.9072328931572629

*Setting*:

Texas-hold-em is a variant of poker where each player<br>
holds two cards. Five additional cards are then dealt<br>
as "common" cards for all players, thus each player <br>
can see a total of seven cards. A "flush" occurs when<br>
a player can see a set of five cards from the same suit.

Poz is dealt following hand in a game of <br>
texas hold-em against his long-time rival, Puck:

`Queen of Diamond`
`Jack of Diamond`

*Tasks*:

- What is the probability that Poz scores a "flush"?

N = 50, because he already has 2 in his hand (not accounting for other players)<br>
A = 11, because he already has 2 in his hand<br>
n = 5<br>
x = 3, 4, 5 (amount of diamond cards that need to be in the common cards)

He can also get a "flush" if all 5 common cards are of the same suit (Hearts, Spades, Clubs)

In [120]:
print(f"The probability of a flush is: {hgd_cdf(50, 11, 5, 2, True) + 3*hypergeo(50, 13, 5, 5)}")

The probability of a flush is: 0.06582057429817435

Puck is dealt following hand:<br>
`3 of Spades` `8 of Hearts`

What's his probability of scoring a "flush"?

In [122]:
print(f"The probability of a flush is: {hgd_cdf(50, 12, 5, 3, True)*2 + 2* hypergeo(50, 13, 5, 5)}")

The probability of a flush is: 0.01971813702354228

For future calculation:

What about a full house?
possibilities:
- another queen & two jacks
- another jack & two queens
- another jack & three other identical face cards
- another queen & three other identical face cards
- a full house within the common cards

In [123]:
# # another queen:
# queen = hgd_cdf(50, 3, 5, 0, True)
# two_jacks = hgd_cdf(50, 3, 5, 1, True)